absl-py
annotated-types
anykeystore
apex
attrs
cachetools
certifi
cffi
charset-normalizer
chumpy
cloudpickle
colorama
contourpy
cryptacular
cycler
deepspeed
defusedxml
efficientnet-pytorch
einops
face-alignment
filelock
fonttools
fsspec
fvcore
google-auth
google-auth-oauthlib
greenlet
grpcio
h5py
hjson
huggingface-hub
hupper
idna
imageio
importlib-metadata
info-nce-pytorch
iopath
joblib
jsonlines
jsonpatch
jsonpointer
kiwisolver
kornia
llvmlite
loguru
markdown
markupsafe
matplotlib
munch
networkx
ninja
numba
numpy
nvidia-cublas-cu11
nvidia-cuda-nvrtc-cu11
nvidia-cuda-runtime-cu11
nvidia-cudnn-cu11
oauthlib
omnievent
opencv-python
packaging
pandas
pastedeploy
pbkdf2
pillow
pip
plaster
plaster-pastedeploy
portalocker
pretrainedmodels
protobuf
psutil
py-cpuinfo
pyasn1
pyasn1-modules
pycparser
pydantic
pydantic-core
pyparsing
pyramid
pyramid-mailer
pysocks
python-dateutil
python3-openid
pytorch3d
pytz
pywavelets
pyyaml
pyzmq
regex
requests
requests-oauthlib
rsa
safetensors
scikit-image
scikit-learn
scipy
seaborn
sentencepiece
seqeval
setuptools
six
sqlalchemy
submitit
tabulate
tensorboard
tensorboard-data-server
tensorboard-logger
tensorboard-plugin-wit
tensorboardx
termcolor
thop
threadpoolctl
tifffile
timm
tokenizers
torch
torchaudio
torchfile
torchsampler
torchvision
tornado
tqdm
transaction
transformers
translationstring
typing-extensions
urllib3
velruse
venusian
visdom
webob
websocket-client
werkzeug
wheel
wtforms
wtforms-recaptcha
yacs
zipp
zope-deprecation
zope-interface
zope-sqlalchemy
zstd

